{% extends 'base.html' %}
{% block content %}
<section class="mcr-contact">
    <h2>Contact Me</h2>
    <p><strong>Email:</strong> <a href="mailto:benidictclemente0@gmail.com">benidictclemente0@gmail.com</a></p>
    <p><strong>GitHub:</strong> <a href="https://github.com/BenidictClemente" target="_blank">github.com/BenidictClemente</a></p>
    <p><strong>Facebook:</strong> <a href="https://www.facebook.com/benidict.catimbang.clemente" target="_blank">facebook.com/benidict.catimbang.clemente</a></p>

    <p class="quote">“I'm not okay (I promise).”</p>
</section>
{% endblock %}


