{% extends 'base.html' %}
{% block content %}
<section class="profile-card">
    <h2>My Profile</h2>
    <p><strong>Name:</strong> Benidict Clemente</p>
    <p><strong>College:</strong> Polytechnic University of the Philippines</p>
    <p><strong>High School:</strong>Laura De Leon Halili Highschool</p>
    <p><strong>Elementary:</strong>Tukod Elementary School</p>
    <p><strong>About Me:</strong> I love cooking, watching anime, reading manga, and cramming school works at 2AM.</p>
    <p class="quote">“So long and goodnight.”</p>
</section>
{% endblock %}





